.topbar {
    width: 100%;
    display: flex;
    padding: 1rem 1.9rem;
    position: relative;
}

.topbar nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    position: relative;
}

.topbar nav form {
    width: 60%;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

.topbar nav form input {
    width: 100%;
    border: none;
    outline: none;
}

.icon {
    width: 16px;
}

.topbar nav .account {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0.5rem 1rem;
    gap: 5px;
    background-color: var(--primary);
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    right: 0;
    cursor: pointer;
}

.topbar nav .account:hover {
    filter: brightness(0.8);
}